{% load static %}
<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}Inicio-Solaren{% endblock %}</title>
<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url({% static 'Imagenes/15570.jpg'%});
}
</style>
<link href="{% static 'CSS/Menu.css'%}" rel="stylesheet" type="text/css">
<style type="text/css">
body,td,th {
	color: #FFF;
}
#apDiv1 {
	position: absolute;
	width: 68px;
	height: 60px;
	z-index: 1;
	left: 1137px;
	top: 685px;
}
#apDiv2 {
	position: absolute;
	width: 63px;
	height: 60px;
	z-index: 2;
	left: 1238px;
	top: 685px;
}
#apDiv3 {
	position: absolute;
	width: 192px;
	height: 64px;
	z-index: 3;
	left: 1129px;
	top: 661px;
}
</style>
<link href="{% static 'CSS/Menu.css'%}" rel="stylesheet" type="text/css">
</head>

<body class=>
<header>
	  <section class="wrapper">
			<nav>
				<ul>

					<li><a href="../" >Inicio</a></li>
					<li><a href="../#Vision">Vision</a></li>
                      <li><a href="../#Mision">Mision</a></li>
					<li><a href="../Productos">Productos</a></li>
                    <li><a href="../#Contacto">Contacto</a></li>

				</ul>
		    </nav>
  </section>
</header>
{% block imagen %}

{% endblock %}


<div>
  <div >
    <table width="1365" height="103" border="1">
      <tr>
      </br></br></br></br>
          {% block content %}




            {% endblock %}
      </tr>
    </table>
  </div>

</div>


    <div>
  <div id="Contacto">
    <table width="1365" height="103" border="1">
      <tr>
        <td width="1433" height="97" align="center" bgcolor="#000000"><h1>-Contacto-</h1>
          <br><br><br>
             <input type="button" formaction="Contactanos">Contactanos</button>
            <p>Telefonos :  Oficina 4921102328  extencion #111
            </p>
            <P>  Correo electronico </P>
            <p>--HijoDeTuPun.teria@gmail.com--</p>

      </tr>
    </table>
  </div>

</div>

</div>
 <div>
  <div id="usa">
    <table width="1365" height="103" border="1">
      <tr>
        <td width="1433" height="97" align="center" bgcolor="#000000"><h1></h1>
            <br> <br> <br>
        <p>Copyright © 2018</p>
            <p>Derechos Reservados @D.A.N.I Inc</p>

      </tr>
    </table>
  </div>

</div>
</body>
</html>
